nav 
  ul 
    li
      a(href="/users/dashboard") Dashboard
    li
      a(href="/quiz/create-quiz") Create a new quiz
    li
      a(href="/quiz/create-quiz-category") Create a new quiz category
    li
      a(href="/users/login") Log in
    li
      a(href="/users/logout") Log out