nav 
  ul 
    li
      a(href="/users/dashboard") Dashboard
    li
      a(href="/quiz/create-quiz") New quiz
    li
      a(href="/quiz/quiz-categories") Categories
    li
      a(href="/quiz/create-quiz-category") New category
    li
      a(href="/users/register") Register
    li
      a(href="/users/login") Log in
    li
      a(href="/users/logout") Log out